/Documents/NetBeansProjects/EJERCICIO_1/nbproject/private/
/Documents/NetBeansProjects/EJERCICIO_1/build/
/Documents/NetBeansProjects/EJERCICIOS_2/nbproject/private/
/Documents/NetBeansProjects/EJERCICIOS_2/build/
/Documents/NetBeansProjects/Ejericio_propuesto/nbproject/private/
/Documents/NetBeansProjects/Ejericio_propuesto/build/
/Documents/NetBeansProjects/Ejercicios2/nbproject/private/
/Documents/NetBeansProjects/Ejercicios2/build/
/Documents/NetBeansProjects/Parte_2/nbproject/private/
/Documents/NetBeansProjects/Parte_2/build/
/Documents/NetBeansProjects/Parte2/nbproject/private/
/Documents/NetBeansProjects/Parte2/build/
/Documents/NetBeansProjects/Tarea1_Scanner/nbproject/private/
/Documents/NetBeansProjects/Tarea1_Scanner/build/
/Documents/NetBeansProjects/PROPIEDADES/nbproject/private/
/Documents/NetBeansProjects/TAInterfaces/nbproject/private/
